/* COLOR PALETTE
#e85432 - RED
#c2462a - DARK RED
#c175c8 - PINK

#ffee6c - LIGHT YELLOW
#918637 - DARK YELLOW
#D8D8D8 - LIGHT GREY
#ffffff3e -DARK GREY
*/

/* Header Section */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'VT323', monospace;
}

body {
  background-color: #c175c8;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 30px;
}

.header {
    box-sizing: border-box;
    text-align: center;
    width: 1080px;
    height: 94px;
    
    background-color: #e85432;
    padding: 10px 20px;
    border-radius: 16px;
}

.title {
    text-align: center;
    margin: 0;
    line-height: 70%;
    margin-bottom: 25px;

    border-radius: 16px;
    font-size: 80px;
    text-shadow: 2px 2px white;
 
}

.red-frame {
  background-color: #e85432;
  padding: 30px 50px;
  border-radius: 25px;
  border-bottom: 10px solid #0000002a;
  }

.red-shadow {
    background-color: #0000003e;
    height: 8px;
    border-radius: 10px 10px 0 0;
  }


/* Canvas - Main */

#canvas-container {
  display: inline-grid;
  flex: 1;
  padding: 30px 50px;

  border-width: 6px 100px 0;
  height: 600px;
  width: 1080px;
 
  background-color: rgb(228, 228, 228);
  border-bottom: 1px solid #0000003e;
  border-right: 1px solid #0000003e;

  grid-template-columns: repeat(24, 1fr); 
  grid-template-rows: repeat(12, 1fr);
}
  
.canvas-shadow {
    background-color: #ffffff3e;
    height: 5px;
    border-radius: 10px 10px 0 0;
  }

/* controls */

.settings-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 30px 0 0 0;
    
    width: 1079px;
    height: 100px;

    background-color: #e85432;
    border-radius: 0 0 20px 20px;
  }

#erase-button {
    background-color: rgb(255, 255, 255);  
    border-radius: 50%;
    border-bottom: 4px solid #707070;
    box-shadow: 2px 3px 3px 1px #000000;
  }

  #erase-button:active {
    background-color: #c0c0c0;
  }

.settings-container > div {
    display: flex;
    align-items: center;
  }

.settings-container > div > p {
    font-size: 50px;
    margin: 0;
    text-shadow: 2px 2px white;
  }
  
.settings-container button {
  
    font-size: 40px;
    background-color: #ffee6c;
    
    border: none;
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
    margin-left: 15px;

    transition: all 0.1s;
    outline: none;
    cursor: pointer;

    border-bottom: 4px solid #918637;
    border-radius: 5px;
    box-shadow: 2px 3px 3px 1px #000000;
  }
  
.settings-container button:active{
    background-color: #c4b441;
    transform: translateY(1px);
}
  

/* cells inside red frame */

.grid-square {
  border-top: 1px solid #0000002a;
  border-left: 1px solid #0000002a;
  transition: all 0.2s ease;
}

.grid-square.hover {
  background-color: rgb(189, 189, 189);
}

.grid-square.draw {
  background-color: #565656;
}

/* Erase animation */

.canvas-shake {
  animation-name: shake;
  animation-duration: 0.6s;
}

@keyframes shake {
  0%   {transform:rotate(0deg); position:relative; top:0px;}
  25%  {transform:rotate(-5deg); position:relative; top:-75px;}
  50%  {transform:rotate(5deg); position:relative; top:0px;}
  75%  {transform:rotate(-5deg); position:relative; top:-75px;}
  100% {transform:rotate(0deg); position:relative; top:0px;}
}

/* Footer section */

footer{
    font-size: 40px;
    bottom: 0;
    justify-content: center;
    padding-top: 50px;
}

a{
    text-decoration: none;
    color: rgb(250, 250, 250);
}

a:hover {
    text-decoration: underline;
}