body {  
    height: 100vh;
    background: repeating-linear-gradient(
  45deg,
  brown,
  brown 10px,
  purple 10px,
  purple 20px
);
    font-family: 'Walter Turncoat', cursive;    
    padding: 100px 0;
    text-align: center;
    color: white;
  }

.header-wrapper {
    background:  #ffd64e;
    border-radius: 20px 20px 0 0;
    width: 1080px;
    height: 95px;
    margin: 0 auto;
}

.header {
    font-family: 'VT323', monospace;
    font-size: 70px;
    color: black;
    text-shadow: 5px 5px white;
    font-size: 80px;
    text-align: center;
    margin: 0;
    padding-top: 15px;
    line-height: 1;
}

#grid-wrapper {
    display: inline-grid;
    border: solid 2px #ffd64e;
    border-width: 6px 100px 0;
    grid-gap: 1px;
    background-color: white;
}

#grid-wrapper > div {
    background-color: lightgray;
}

.small-size {
    grid-template-columns: repeat(22, auto);
}

.small-size > div {
    height: 39px;
    width: 39px;
}

.medium-size {
    grid-template-columns: repeat(44, auto);
}

.color-controls {
    margin-left: 20px;
}

.controls {
    display: flex;
    background-color: #9b812e;
    color: black;
    font-weight: 700;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    padding: 0 80px;
    height: 100px;
    width: 1080px;
    background-color:  #ffd64e;
    border-radius: 0 0 20px 20px;
}

.reset {
    color: #ffd64e;
    font-weight: 700px;
}

button {
    font-family: 'Walter Turncoat', cursive;
    background-color: rgb(248, 46, 124); 
    color: white;
    border: none;
    border-radius: 5px;
    padding: 6px 6px;
    margin-left: 20px;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color:rgb(189, 35, 94); 
}

button:active {
    transform: translateY(0.5px);
}
